.App {
  text-align: center;
}

.App-header img {width: 292px;}
.App-header {
  background-color: #d0363d;
  padding: 20px;
  color: white;
  font-size: 18px;
}
.App-header .details {
    padding: 12px 0;
}
.App-header p {
    margin: 0 0 6px 0;
}

.App-intro {
  font-size: large;
}

h1 {margin-bottom: 3px;}

span.green {color: green}
span.red {color: #d0363d}

p.first {
  border-bottom: 1px dashed #d0363d;
  width: 250px;
  text-align: center;
  margin: 0 auto;
  padding: 17px 0;
}
p.not-first {
  font-size: 0.8em;
}
p span.total {
	padding: 0 0 0 8px;
}
p.not-first span.total {
	opacity: .45;
}
span.team-tag {
  padding: 5px 8px;
  border-radius: 3px;
  color: #FFF;
}
span.team-tag.red-tag {
	background: rgba(255, 106, 0, 0.48);
}
span.team-tag.blue-tag {
	background: rgba(16, 0, 255, 0.48);
}
span.team-tag.green-tag {
	background: rgba(0, 255, 55, 0.52);
}

.team-list {
    padding: 7px 0;
}
.team-list .teamMember {
	
}
.team-list span.team-tag {
	font-size: 10px;
  padding: 4px;
  display: inline-block;
	margin: 0 0 0 9px;
}
